<!--Search Box started-->
<div class='search-bar'>
	<div class='input-group'>
		<input type='text' class='form-control' placeholder='Enter the year (YYYY)' ng-model='MovieName' ng-enter="check()">

		<span class='input-group-btn'>
			<button class='btn btn-default' type='button' ng-click='check()' >
				<span class='glyphicon glyphicon-search' aria-hidden='true'>
				</span>
			</button>
		</span>
	</div>
</div>
<!--Search Box ended-->

<!-- Listing of Card Started-->
<div class='card' style='margin-top:80px' ng-hide="value">
	<div class='row card-parameters' ng-repeat='val in obj.results' ng-click='onclick()'>
		<div style='width=100%'>	
			<div class='col-sm-3'>
				<center>
					<img src='http://image.tmdb.org/t/p/w500/{{val.poster_path}}' >
				</center>
			</div>
			<div class='col-sm-9'>
				<table class='table table-striped table-responsive'>
					<tbody>
						<tr>
							<td class='caption-width'>Original Title:</td>
							<td class='caption-response-width'>{{val.original_title}}</td>
						</tr>
						<tr>
							<td class='caption-width'>Original_language</td>
							<td class='caption-response-width'>{{val.original_language}}</td>
						</tr>
						<tr>
							<td class='caption-width'>Popularity:</td>
							<td class='caption-response-width'>{{val.popularity}}</td>
						</tr>
						<tr>
							<td class='caption-width'>Vote Count:</td>
							<td class='caption-response-width'>{{val.vote_count}}</td>
						</tr>
						<tr>
							<td class='caption-width'>Vote Average:</td>
							<td class='caption-response-width'>{{val.vote_average}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- Listing of card ended-->

<!--Buttons Started-->
<div class='page-button' ng-hide="buttonVisibility">
	<nav>
		<ul class='pager'>
			<li><a  class='button-width' ng-click='decrese()'>Previous</a></li>
			<li><a  class='button-width' ng-click='increse()'>Next</a></li>
		</ul>
	</nav>
</div>
<!-- Buttons ended-->

<!--ALert Box Started -->
<div class='alert alert-danger error-box' ng-show='alertVisibility' >
	<center>{{errorMessage}}</center>
</div>
<!--ALert Box Ended -->
